@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 모든 종류의 미디어를 스타일 지정 최소 화면이 801px이상부터 적용 */
@media all and (min-width: 801px) {
  header {
    height: 113px;
  }
  .header_area h1 {
    float: left;
    padding: 25px 0 0;
    padding-left: 20px;
    width: initial; /* 모바일버전에서 지정해놓은 속성을 초기화 */
    height: initial;
    text-align: initial;
  }
  .header_area h1 a {
    display: block;
    width: 270px;
    height: 71px;
    background-size: initial !important;
  }
  .openMOgnb {
    display: none;
  }
  .header_cont {
    display: block;
    float: right;
    width: 60%;
    padding-right: 20px;
    background: none;
  }
  .closePop {
    display: none;
  }
  /* //상단로고와 메뉴스타일 */

  .util {
    padding: 0px;
    text-align: right;
    padding-top: 10px;
  }
  .util li {
    float: none;
    display: inline;
  }
  .util li::after {
    color: white;
  }
  .util li a {
    font-size: 14px;
  }
  .gnb {
    float: right;
    padding-top: 5px;
    height: initial;
    border-top: none;
  }
  .gnb li {
    width: initial;
    text-align: initial;
    border-bottom: none;
  }
  .gnb li:nth-child(2n + 1) {
    border: none;
  }
  .gnb li a {
    padding: 26px 25px;
    font-size: 18px;
    height: inherit;
    background: none;
  }
  .gnb li + li a {
    background: none;
  }
  .gnb li + li + li a {
    background: none;
  }
  .gnb li + li + li + li a {
    background: none;
  }
  .gnb li:last-child a {
    padding-right: 0px;
  }
  /* 컨테이너영역 */

  #container {
    padding-bottom: 20px;
    width: initial;
    position: initial;
  }

  /* //컨테이너영역 */
  /* 슬라이드영역 */
  .main_rolling_mobile {
    display: none;
  }
  .main_rolling_pc {
    display: block;
  }
  .visualRoll {
    position: relative;
    width: 100%;
  }
  .viewImgList {
    position: relative;
    width: 100%;
  }
  ul.viewImgList li {
    text-align: center;
    height: 550px;
    line-height: 550px;
    background-size: cover;
    width: 100%;
  }

  .roll_content a img {
    display: none;
    width: 100%;
  } /* 밑쪽 스크롤 바 없애기 */

  li.imglist0 {
    position: relative;
    z-index: 50;
    background: url(../img/maple.jpg) no-repeat;
  }
  .imglist1 {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    background: url(../img/img_slidecontents02.png) no-repeat;
  }
  .imglist2 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    background: url(../img/img_slidecontents03.png) no-repeat;
  }
  .rolll_content {
    position: relative;
  }
  .roll_content .roll_txtline {
    position: absolute;
    left: 0;
    bottom: 60px;
    width: 100%;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
  }
  .rollbtnArea {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 25px;
    z-index: 200;
  }
  .rollingbtn {
    width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  .rollingbtn li.butt0 {
    margin-left: 10px;
  }
  .rollingbtn li {
    display: inline;
    margin-left: 5px;
  }
  .rollingbtn li a {
    vertical-align: top;
  }
  /* //슬라이드영역 */

  /* 겔러리 최근 게시물 */

  .about_area h2 {
    padding: 55px 0 105px;
    font-size: 40px;
  }
  .about_area h2 b {
    display: initial;
    padding-top: initial;
  }

  .place_list {
    box-sizing: border-box;
    padding: 0 20px;
  }
  .place_list li:first-child {
    margin-left: 0;
  }
  .place_list li {
    width: 32%;
    float: left;
    margin-left: 2%;
    position: relative;
    top: -50px;
    padding: initial;
  }
  .place_list li p.txt {
    padding: 10px 31px 0;
    line-height: 1.8;
  }
  .place_list li .view {
    margin-top: 20px;
  }
  /* //겔러리 최근 게시물 */

  /* 전화상담과 최근공지사항 */
  .appbbs_area {
    padding: 60px 0;
  }
  .appbbs_box {
    box-sizing: border-box;
    padding: 0 20px;
  }
  .app_line {
    display: initial;
    float: left;
    width: 66%;
    box-sizing: border-box;
    padding: 46px 0;
    background: url(../img/bg_app.jpg) no-repeat;
    font-size: 0;
    text-align: center;
  }
  .app_line a {
    font-size: 21px;
    display: inline-block; /*새로배치를 가로배치로 바꿀 때 쓴다*/
    width: 42.4%;
    height: 100px;
    line-height: 100px;
    box-sizing: border-box;
    padding-left: 55px;
    text-align: left;
    background: rgba(0, 0, 0, 0.3) url(../img/ico_katalk.png) no-repeat 10px 50%;
    border: white 2px solid;
    color: white;
    vertical-align: middle;
    margin-right: 10px;
  }
  .app_line a + a {
    margin-right: 0px;
    padding-left: 65px;
    background-image: url(../img/ico_phone.png);
  }
  .bbs_line {
    float: right;
    width: 30%;
    border-top: none;
    padding: initial;
  }
  .bbs_line h3 {
    font-size: 26px;
    font-weight: initial;
  }
  .bbs_line .notice_recent li a {
    display: block;
    padding-left: 14px;
    background: url(../img/ico_bullet.png) no-repeat 0 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* 푸터영역 */
  footer {
    padding: initial;
  }
  .font-area {
    padding-left: 20px;
    padding-bottom: 0px;
  }
  .addr {
    font-size: 13px;
    line-height: 1.4;
  }
  .br_line {
    display: initial;
  }
  .snslink {
    position: absolute;
    right: 20px;
    top: 20px;
    width: initial;
    margin: initial;
  }
  .snsl link {
    margin-left: 15px;
  }
  .quick_list {
    display: none;
  }

  /* //푸터영역 */

  /* //전화상담과 최근공지사항 */
  /* //태블릿영역 */
}
